.cache/svg-lib
autosave
backup
eln-cache
elpa/archives
games
straight
undo-tree-history
.session
places
tree-sitter
auto-save-list
.org-id-locations
bookmarks
.lsp-session-v1
projectile-bookmarks.eld
elpa/nix-mode-1.5.0
